<html>
<head><title>60fps guide</title></head>  
</html>
<body>
  <style>
    body {
            font-family: "Sofia", sans-serif;
        }
        h1 {
          text-align: center
        }
        h2 {
            margin-left: 20px;
        }
        p {
            margin-left: 40px;
        }
        a {
            text-decoration: none;
        }
  </style>
  <h1>Uploading 60fps Videos to Facebook Using Frenz's Technique</h1><br><br>
  <h3>Requirements : </h3>
  <p>Bandicam (Video recorder)<br>
    Internet Connectivity</p><br><br>

  <h2>this is a text</h2>
  <p>This is the method I always use on my videos<br><br>1. Record your videos<br>
  You need to have a recorded videos, You must use this config below on Bandicam.</p>
  <img src="../assets/Screenshot 2022-05-15 101330.png" alt="config"><br>
  <p>Once done recording, head over to <a href="https://www.freeconvert.com/video-compressor">this link</a> and upload your video, <br><br></br>Before compressing, follow this config first :<br><br>
  Video Codec = h264<br>
  Compression Method = Target a Max Bitrate<br>
  Select Quality (CRF) = Okay quality - small size<br>Max Bitrate (Kbps) = 1500<br>Rate Control Buffer (kbps) = 2000<br>Check the "Make video compatible with old devices?"</p>
  <p>Make sure the Output is .mp4 then Compress it.</p>
  <br><h2>You can download this <a href="https://apis.frenzapi.cf/view-video/?video=2022-05-1-09">SAMPLE VIDEO</a> and Upload it on Facebook
</h2><br><br><br>
</body>